<div class="mt-4">
  <form method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">
        Email address
      </label>
      <input
        name="email"
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
      <select name="gender" id="">
        <option value="">
          Chọn giới tính
        </option>
        <option value="male">
          Male
        </option>
        <option value="female">
          Female
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>